<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>

    <div class="d-flex justify-content-center">
        <div>
            <h1>Create an account</h1>
            <form th:action="@{/user/create}" method="POST" th:object="${user}">
                <label for="username">Username</label>
                <input id="username" th:field="*{username}" />

                <label for="password">Password</label>
                <input id="password" type="password" th:field="*{password}" />
                <input id="loss-record" type="hidden" th:field="*{lossRecord}">
                <input id="win-record" type="hidden" th:field="*{winRecord}">
                <input value="Sign me up!" type="submit" />
            </form>
        </div>
    </div>

</body>
</html>